.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #a2d9ff;
  text-align: center;
}

.about {
  text-align: center;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.experience {
  padding-top: 6rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 6rem;
  background-color: antiquewhite;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

th {
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #96d4d4;
}
